@import "constants.scss";

body * {
  font-family: $main_font;
  color: $text_colour;
}

h1.title {
  text-transform: uppercase;
  white-space: nowrap;
}


/* Bootstrap overrides */

.nav > li > a {
  padding: 20px 20px 0px 0px;
  /* padding-left: 0px; */
  background-color: transparent;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: white;
}

.nav {
  border: none;
}

.nav a:hover {
  border: none;
}

.subnav {
  padding-left: 20px;
}

.subnav > li > a {
  padding-top: 0;
}

.navbar {
  min-height: 20px;
  border: none;
  border-bottom: solid 1px #e7e7e7;
}

.navbar-default {
  background-color: transparent;
  border-color: #e7e7e7;
}


.navbar-default .navbar-text {
  color: #777777;
}

.navbar-default .navbar-nav > li > a {
  color: #777777;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: black;
  background-color: transparent;
  font-weight: bold;
}

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}

.navbar-collapse {
  padding-left: 0px; 
}

/* Not sure why -15px? I've overridden it, since because of removal of padding above in nav, it shifts nav items off the left side on small res - ...hmm.. */ 
.navbar-nav {
  /* margin: 7.5px -15px; */
  margin: 7.5px 0px; 
}



/* End bootstrap overrides */

/* Headings */

h1 > a,
h1 > a:hover, 
h1 > a:focus,
h1 > a:active {
  color: #333333;
  text-decoration: none;
}

/* End headings */

/* Footer */
.footer {
  color: #333333;
  font-size: 9pt;
  border: none;
  border-top: 1px solid #e7e7e7;
}
/* End foooter */

/* Gallery display */
.image {
  padding: 10px;
}

/* a nice frame for images */
div.img-box {
  border: none;
}

div.img-box img {
  max-width: 100%;
}

div.img-box p {
  margin: 5px;
  text-align: center;
}

/* phones */
@media (max-width: 767px) {
  body.about .img-box {
    width:300px;
    margin: 0px auto 10px auto;
  }

  h1, h2 { text-align:center; }
}

/* tablets and up */
@media (min-width: 768px) {
  body.about .img-box {
    width:400px;
    margin-left: 20px;
    float: right;
  }
}


/* End gallery display */
