---
title: About
slug: about
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 101
editable_elements:
  main/about_body: "<h4><span style=\"line-height: 1.5em;\">Contact</span></h4>\r\n<p><span
    style=\"line-height: 1.5em;\">pjcart (at) hotmail.com</span></p>"
---
{% extends parent %}

{% block main %}

  {% editable_text "about_body", rows: 20 %}
    
  {% endeditable_text %}

{% endblock %}
