---
title: Galleries
slug: galleries
listed: false
published: true
cache_strategy: none
response_type: text/html
position: 101
---
{% extends parent %}

{% block main %}
  <div class="row posts">
    {% for gallery in contents.galleries %}
      <div class="">
        <a href="/galleries/{{ gallery._slug }}">
          <h3>{{ gallery.title | escape }}</h3>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}

